*{ vertical-align: top;}
body{
	background: #f00;
}

.wrapper{
	display: inline-block;
	background: #ffa;
	margin: 0 auto 0 auto;
	position: relative;
	}

.c1{ width:25%; }
.c2{ width:50%; }
.c3{ width:75%; }
.c4{ width:100%; }


.button-wrapper{
	position:absolute;
	margin:0 auto;
}

.button{
	width:175px;
	height:175px;
	border-radius:100%;
	background: url(../img/yb_1.png);
	transition: all 500ms ease;
	margin: 20px;

}
}

.q{
	width:175px;
	height:175px;
	border-radius:100%;
	background: url(../img/yb_2.png);
	transition: all 500ms ease;
	margin: 20px;
}

.d{
	width:175px;
	height:175px;
	border-radius:100%;
	background: url(../img/yb_2.png);
	transition: all 500ms ease;
	margin: 20px;
}
	

.w{
	width:175px;
	height:175px;
	border-radius:100%;
	background: url(../img/yb_3.png);
	transition: all 500ms ease;
	margin: 20px;
	
}

.e{
	width:175px;
	height:175px;
	border-radius:100%;
	background: url(../img/yb_4.png);
	transition: all 500ms ease;
	margin: 20px;

}

.r{
	width:175px;
	height:175px;
	border-radius:100%;
	background: url(../img/yb_5.png);
	transition: all 500ms ease;
	margin: 20px;

}

.t{
	width:175px;
	height:175px;
	border-radius:100%;
	background: url(../img/yb_6.png);
	transition: all 500ms ease;
	margin: 20px;

}


.button:hover{
	background-position: -175px 0;
	transform: translate(0%,0%);
}