*{box-sizing: border-box}

body{
	margin: 20px;
	padding: 0;
}
.c{
	display: inline-block;
	background: #ffa;
	margin: 0 15px 50px 15px;
	font-size: 15px;
}

.square{
	margin:0 20px 20px 0;
	width: 287px;
	height:287px;
	background: #000;
	color: #fff;
	padding:80px;
	position: relative;
}

.square2{
	margin:0 20px 20px 0;
	width: 287px;
	height:287px;
	background: #fff;
	color: #000;
	padding:80px;
	position: relative;
}

.circle{
	/*margin:0 20px 20px 0;*/
	height:100px;
	width:100px;
	background:#f00;
	border-radius:100%;
	margin:0 20px 20px 0;

}

a{ 
	color:#fff;
	text-decoration: none;
 }
