*{ box-sizing: border-box; }

body{ 
	background: #ff0;
	font-size: 0;

}
.c{
	display: inline-block;
	padding:0 20px 0 20px;
	margin:0 0 50px 0;
	background: #f1f1f1;
	font-size: 20px;
}

.c1{ width:25%; }
.c2{ width:50%; }
.c3{ width:75%; }
.c4{ width:100%; }